* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f7f7f7;
    color: #333;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 20px;
}
/* Service Start  */
h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

h2 {
    margin: 30px 0 15px;
    font-size: 24px;
}

p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.5;
}
.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.service-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.service-card h3 {
    margin-bottom: 10px;
    font-size: 18px;
}

.service-card p {
    font-size: 14px;
    color: #555;
}

/* Template Start  */

.templates {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}

.template-card {
    background: white;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.template-box {
    height: 140px;
    background-color: #ddd;
    border-radius: 6px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    font-size: 14px;
}

/* WhatsApp Button */
.whatsapp-btn {
    display: inline-block;
    margin: 20px 0;
    padding: 14px 22px;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
}

.whatsapp-btn:hover {
    background-color: #1ebe5d;
}

/* Form */
form {
    background: white;
    padding: 25px;
    border-radius: 8px;
    margin-top: 20px;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    resize: vertical;
    min-height: 100px;
}

button {
    background-color: #333;
    color: white;
    padding: 12px 18px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #000;
}

#responseMsg {
    margin-top: 10px;
    font-weight: bold;
}

/* Footer Start  */
footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #222;
    color: #ccc;
    text-align: center;
    font-size: 14px;
}

footer p {
    margin: 5px 0;
}
